.fcf-content .fcf-show-comments {
    position: absolute;
    top: 4px;
    right: 10px;
}

.fcf-content .fcf-show-comments .fcf-show-owner-comments {
    float: left;
}

.fcf-content .fcf-show-comments .fcf-show-all-comments {
    float: left;
}

.fcf-content .fcf-show-comments .fcf-user-filter-show {
    float: right;
    padding-left: 5px;
    font-size: 20px;
}

.fcf-content .fcf-show-comments .fcf-user-filter-show:hover {
    text-decoration: none;
}

.fcf-content .fcf-show-comments .fcf-user-filter-list {
    display: none;
    position: absolute;
    top: 27px;
    right: 0;
    width: 170px;
    z-index: 10;
    background: #ffffff;
    border: 1px solid #000000;
}

.fcf-content .fcf-show-comments .fcf-user-filter-list ul {
    max-height: 200px;
    overflow-y: auto;
    padding-right:14px;
}

.fcf-content .fcf-show-comments .fcf-user-filter-list li {
    margin: 5px;
    height: 26px;
    line-height: 26px;
}

.fcf-content .fcf-show-comments .fcf-user-filter-list li span {
    width: 100px;
    line-height: 14px;
    display: inline-block;
}

.fcf-content .fcf-show-comments .fcf-user-filter-list img {
    vertical-align: middle;
    padding-right: 5px;
    float: left;
}

/* View all mode */
.fcf-content .fcf-show-comments .fcf-show-all-comments {
    display: none;
}

.fcf-content .fcf-no-comments {
    text-align: center;
    display: none;
}

.fcf-content .fcf-comment-list .fcf-show-author-comments {
    display: none;
}

/* Filter mode */
.fcf-content .fcf-filter-mode .fcf-show-comments .fcf-show-all-comments {
    display: block;
}

.fcf-content .fcf-filter-mode .UFIComment {
    display: none;
}

.fcf-content .fcf-filter-mode .fcf-comment.fcf-comment-visible {
    display: block;
}

.fcf-content .fcf-filter-mode .fcf-no-comments {
    display: block;
}

.fcf-content .fcf-filter-mode .fcf-comment .fcf-show-author-comments {
    display: block;
    position: absolute;
    right: 0;
    bottom: -4px;
}