.fcf-content .fcf-show-comments {
    float: right;
}

.fcf-content .fcf-show-comments .fcf-show-owner-comments {
    position: absolute;
    top: 4px;
    right: 24px;
}

.fcf-content .fcf-show-comments .fcf-user-filter-show {
    position: absolute;
    top: 4px;
    right: 10px;
    font-size: 20px;
}

.fcf-content .fcf-show-comments .fcf-user-filter-list {
    display: none;
    position: absolute;
    top: 30px;
    right: 10px;
    width: 150px;
    z-index: 10;
    background: #ffffff;
    border: 1px solid #000000;
}

/* View all mode */
.fcf-content .fcf-show-comments .fcf-show-all-comments {
    display: none;
}

.fcf-content .fcf-no-comments {
    text-align: center;
    display: none;
}

.fcf-content .fcf-comment-list .fcf-show-author-comments {
    display: none;
}

/* Filter mode */
.fcf-content .fcf-filter-mode .fcf-show-comments .fcf-show-owner-comments {
    display: none;
}

.fcf-content .fcf-filter-mode .fcf-show-comments .fcf-show-all-comments {
    display: block;
}

.fcf-content .fcf-filter-mode .UFIComment {
    display: none;
}

.fcf-content .fcf-filter-mode .fcf-comment.fcf-comment-visible {
    display: block;
}

.fcf-content .fcf-filter-mode .fcf-no-comments {
    display: block;
}

.fcf-content .fcf-filter-mode .fcf-comment .fcf-show-author-comments {
    display: block;
    position: absolute;
    right: 0;
    bottom: -4px;
}